{# templates/Educateur/list.html.twig #}
 

{% extends 'base.html.twig' %}

{% block title %}Liste des Éducateurs{% endblock %}

{% block body %}
    <h1>Liste des Éducateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Numéro de licence</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for educateur in educateurs %}
                <tr>
                    <td>{{ educateur.nom }}</td>
                    <td>{{ educateur.prenom }}</td>
                    <td>{{ educateur.email }}</td>
                    <td>{{ educateur.numeroLicence }}</td>
                    <td>
                        <a href="{{ path('educateur_edit', {'id': educateur.id}) }}">Modifier</a>
                        <a href="{{ path('educateur_delete', {'id': educateur.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('educateur_create') }}">Créer un Éducateur</a>
{% endblock %}
