{# templates/licencie/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un Licencié{% endblock %}

{% block body %}
    <h1>Modifier un Licencié</h1>

    {# Le formulaire pour modifier un licencié #}
    <form method="post">
        {{ form_start(form) }}
        {{ form_row(form.numeroLicence) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.contact) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.educateur) }}

        {# Le bouton pour soumettre le formulaire #}
        <button type="submit">Modifier le Licencié</button>
        {{ form_end(form) }}

        {# Le bouton pour revenir à la liste des licenciés #}
        <a href="{{ path('licencie') }}">Retour à la liste des Licenciés</a>
    </form>
{% endblock %}
