{% block body %}
    <h1>Créer un Contact</h1>

    {# Le formulaire pour créer un contact #}
    <form method="post" action="{{ path('contact_create') }}">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.numeroTel) }}

        {# Le bouton pour soumettre le formulaire #}
        <button type="submit">Créer le Contact</button>
        {{ form_end(form) }}

        {# Le bouton pour revenir à la liste des contacts #}
        <a href="{{ path('contact') }}">Retour à la liste des Contacts</a>
    </form>
{% endblock %}