{# templates/Contact/list.html.twig # #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1>Liste des Contacts</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Numéro de téléphone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.numeroTelephone }}</td>
                    <td>
                        <a href="{{ path('modifier_contact', {'id': contact.id}) }}">Modifier</a>
                        <a href="{{ path('supprimer_contact', {'id': contact.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_create') }}">Créer un contact</a>
{% endblock %}
