{# templates/Categorie/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Code Raccourci</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nom }}</td>
                    <td>{{ categorie.codeRaccourci }}</td>
                    <td>
                        <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                        <a href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_create') }}">Créer une Catégorie</a>
{% endblock %}
