<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>

    <h1>Page d'accueil</h1>

    <ul>
        <li><a href="{{ path('categorie') }}">Voir les catégories</a></li>
        <li><a href="{{ path('contact') }}">Voir les contacts</a></li>
        <li><a href="{{ path('educateur') }}">Voir les éducateurs</a></li>
        <li><a href="{{ path('licencie') }}">Voir les licenciés</a></li>
        <li><a href="{{ path('recherche_licencie') }}">Rechercher des licenciés</a></li>
        <li><a href="{{ path('recherche_contact') }}">Rechercher des contacts</a></li>
    </ul>

</body>
</html>
